
{% extends "light_novels/base.html" %}

{% block sub_breadcrumb %}
    {{ block.super }}
    &rsaquo; {{ chapters.0.novel.name }}
{% endblock %}

{% block content_body%}
    <h2>Chapter List</h2>

    <table>
        <thead>
        <tr>
            <th>Chapter</th>
        </tr>
        </thead>
        <tbody>
        {% for chapter in chapters %}
            <tr>
                <td class="fs-5"><a href="{% url 'light_novels:chapter' chapter.novel.id chapter.id %}">{{chapter}}</a></td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
