
{% extends "activities/base.html" %}

{% block sub_breadcrumb %}
    {{ block.super }}
    &rsaquo; {{ 'Activity List' }}
{% endblock %}

{% block content_body%}
    <h2>Activity List</h2>
    <form class="my-3" action="{% url 'activities:activities' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form>
    <table>
        <thead>
        <tr>
            <th>Activity</th>
            <th>Day Period</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td><a href="{% url 'activities:activity' activity.id %}">{{activity}}</a></td>
                <td>{{ activity.day_period }}</td>
                <td>{{ activity.note }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}



