
{% extends "activities/base.html" %}

{% block sub_breadcrumb %}
    {{ block.super }}
    &rsaquo; {{ 'Activity Type List' }}
{% endblock %}

{% block content_body%}
    <h2>Activity Type List</h2>
    <form class="my-3" action="{% url 'activities:activity_types' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Activity Type</th>
            <th>Total Duration</th>
            <th>Activity Count</th>
            <th>Diary Count</th>
        </tr>
        </thead>
        <tbody>
        {% for activity_type in activity_types %}
            <tr>
                <td>{{ activity_type.id }}</td>
                <td>{{ activity_type }}</td>
                <td>
                    {{ activity_type.compute_duration|floatformat:2 }} &nbsp;hours
                </td>
                <td>
                    {{ activity_type.compute_number_of_activities }} &nbsp;
                </td>
                <td>
                    {{ activity_type.compute_number_of_diaries }} &nbsp;
                </td>
            </tr>
            
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <div>
        <h6 class="text-primary mt-3">Note</h6>
        <p class="text-center text-bg-info rounded-3">
            If the number of activities exceeds the number of diaries in a specific row that means there is long
            activity(ies) that expands more than one period of a day(there are five periods in a day)
        </p>
    </div>
{% endblock %}



